<div class="center">
  <%= image_tag(attachments['gigafood_logo.png'].url, class: 'gigafood_logo') %>
  <h1><%= I18n.t('email.confirm_main_header') %></h1>
  <h3><%= I18n.t('email.confirm_main_text').html_safe %></h3>
  <h6><%= I18n.t('gigafood.email') %></h6>
  <h6><%= I18n.t('gigafood.phone_number') %></h6>
</div>
