<h1>MENU</h1>
<p class="center">Our menu is <strong>100% plant-based</strong> and <strong>vegan</strong>.
  We’re committed to always use organic ingredients as far as possibly possible. Our packaging is 100% compostable and
  our delivery service is made by cargo bike. All our food and desserts are made without white refined sugar and no
  added gluten.</p>
<br>
<%= form_tag(orders_path) do %>

  <h2>MAINS</h2>

  <% @dishes.each do |dish| %>
    <div class="clear">
      <div class="menu-item-form" id="dish_item_<%= dish.id %>">
        <%= dish.price %> SEK <br>
        <input class="q_text" type="text" name="dishes[dish_<%= dish.id %>]" value="" id="dish_<%= dish.id %>" placeholder="0" size="5"
               maxlength="4" data-minquantity="<%= dish.min_quantity %>" onblur="validateNumberOnBlur(this)"
               onkeyup="validateNumber(this)" onclick="validateNumber(this)" onchange="validateNumber(this)" >
        <button class="q_button" type="button" name="button" onclick="decreaseNumber('dish_<%= dish.id %>')"> - </button>
        <button class="q_button" type="button" name="button" onclick="increaseNumber('dish_<%= dish.id %>')"> + </button>
      </div>
      <div class="menu-item-title"><%= dish.name %></div>
      <div><%= dish.description %></div>
    </div>
  <% end %>


  <br>

    <div><%= submit_tag 'Next', class: 'button float-right' %></div>
<% end %>


<script type="text/javascript" >
    function validateNumber(object)
    {
        if (isNaN(object.value))
        {
            object.value = object.value.replace(/[^0-9]/g, '');
        }

        if (object.value == 0)
        {
            object.value = '';
        }

    }

    function validateNumberOnBlur(object)
    {
      if (parseInt(object.value) < parseInt(object.dataset.minquantity) && object.value != '')
      {
        swal({
          title: 'Oops...',
          text: 'Minimum order quantity is ' + object.dataset.minquantity + '.',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#2dbc36',
          confirmButtonText: 'Yes, please change to ' + object.dataset.minquantity + '.',
          cancelButtonText: 'No, please change to 0.',
          closeOnConfirm: true,
          closeOnCancel: true,
        },
        function (isConfirm) {
          if (isConfirm) {
              object.value = parseInt(object.dataset.minquantity);
          } else {
              object.value = '';
          }
        });
      }

      if (object.value == 0)
      {
          object.value = '';
      }

    }

    function decreaseNumber(dishId)
    {
        var val = document.getElementById(dishId).value;
        var min_val = document.getElementById(dishId).dataset.minquantity;

        if ( val > min_val )
        {
            document.getElementById(dishId).value = val - 1;
        } else if (val == min_val)
        {
            document.getElementById(dishId).value = '';
        }
    }

    function increaseNumber(dishId)
    {
        var val = parseInt(document.getElementById(dishId).value);
        var min_val = parseInt(document.getElementById(dishId).dataset.minquantity);

        if (val == '' || val < min_val - 1 || isNaN(val) )
        {
            document.getElementById(dishId).value = min_val;
        } else if (val < 9999)
        {
            document.getElementById(dishId).value = val + 1;
        }
    }

</script>