<h1><%= t('confirm.main_header') %></h1>
<p class="center"><%= t('confirm.message_body').html_safe %></p>
<p class="center"><%= mail_to t('gigafood.email') %></p>
<p class="center"><%= t('gigafood.phone_number') %></p>
<br><br><br>
<h1><%= t('menu.main_header') %></h1>

<% @order.shopping_cart_items.each do |order_item| %>
    <div>
      <h2><%= order_item.item.name %></h2>
      <p class="center"><%= order_item.item.description %></p>
    </div>
<% end %>

<p class="center"><%= t('menu.main_intro_text').html_safe %> </p>

<p class="center"><%= link_to t('gigafood.web_address'), "http://#{t('gigafood.web_address')}" %></p>