<h1><%= t('thank_you_title') %></h1>
<p class="center"><%= t('thank_you_message').html_safe %></p>
<p class="center"><%= mail_to t('gigafood_email') %></p>
<p class="center"><%= t('gigafood_phone') %></p>
<br><br><br>
<h1><%= t('main_title_order_form') %></h1>

<% @order.shopping_cart_items.each do |order_item| %>
    <div>
      <h2><%= order_item.item.name %></h2>
      <p class="center"><%= order_item.item.description %></p>
    </div>
<% end %>

<p class="center"><%= t('intro_desc_order_form').html_safe %> </p>

<p class="center"><%= link_to t('gigafood_url'), "http://#{t('gigafood_url')}" %></p>