<h1>ORDER</h1>

<div class="float-left order-container">
  <table>
    <tr>
      <th>Dish</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

    <% @order.shopping_cart_items.each do |order_item| %>
      <tr id="<%= "order_row_#{order_item.item.id}" %>">
        <td><%= order_item.item.name %></td>
        <td><%= order_item.quantity %></td>
        <td style="white-space: nowrap;"><%= order_item.quantity * order_item.price %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <div>Total price: <%= @order.total%></div>
</div>
<br>


<%= form_for @order do |f| %>

  <div class="float-left order-container">
    <h4>Delivery Information:</h4>
    <%= f.date_field :delivery_date, placeholder: 'Delivery Date' %>
    <br>
    <%= radio_button_tag(:delivery_method, 'pickup', checked: false, onclick: 'toggleDelivery_address("hide");') %>
    <%= label_tag(:delivery_method_pickup, 'Pickup', onclick: 'toggleDelivery_address("hide");') %>
    <%= radio_button_tag(:delivery_method, 'delivery', checked: true, onclick: 'toggleDelivery_address("show");') %>
    <%= label_tag(:delivery_method_delivery, 'Delivery', onclick: 'toggleDelivery_address("show");') %>


  </div>
  <div id="delivery_address_fields" class="float-left order-container">
    <h4>Delivery address:</h4>
    <%= f.text_field :delivery_name, placeholder: 'Delivery Name' %>
    <%= f.text_field :delivery_address, placeholder: 'Delivery Address' %>
    <%= f.text_field :delivery_postal_code, placeholder: 'Delivery Postal Code' %>
    <%= f.text_field :delivery_city, placeholder: 'Delivery City' %>
    <%= f.text_field :delivery_floor, placeholder: 'Delivery Floor' %>
    <%= f.text_field :delivery_door_code, placeholder: 'Delivery Door Code' %>
    <%= f.text_field :delivery_contact_name, placeholder: 'Delivery Contact Name' %>
    <%= f.text_field :delivery_contact_phone_number, placeholder: 'Delivery Contact Phone' %>
  </div>
  <div class="float-left order-container">
    <h4>Billing address:</h4>
    <%= f.text_field :billing_name, placeholder: 'Billing Name' %>
    <%= f.text_field :billing_company, placeholder: 'Billing Company' %>
    <%= f.text_field :billing_org_nr, placeholder: 'Billing Organisation Number' %>
    <%= f.text_field :billing_address, placeholder: 'Billing Address' %>
    <%= f.text_field :billing_postal_code, placeholder: 'Billing Postal Code' %>
    <%= f.text_field :billing_city, placeholder: 'Billing City' %>
    <%= f.text_field :billing_phone, placeholder: 'Billing Contact Phone' %>
    <%= f.text_field :billing_email, placeholder: 'Billing email' %>
  </div>
  <div class="float-left order-container">
    <h2>Allergies – No Problem!</h2>
    <h4>Please specify any allergies:</h4>
    <%= f.text_field :allergies, placeholder: 'Allergies' %>
  </div>
  <div class="float-left order-container">
    <%= f.hidden_field :boxes, placeholder: 'Boxes' %>
    <%= f.hidden_field :status, placeholder: 'Status' %>
    <%= f.submit t('button.submit'), class: 'button float-right' %>
  </div>

<% end %>
