<p>Hi guys,</p>

<p>we have an order for you.</p>

<p>Here is the order information:</p>

<%= @order.billing_name %>
<%= @order.delivery_date %>
<%= @order.boxes %>
<%= @order.delivery_address %>
<%= @order.delivery_door_code %>
<%= @order.delivery_floor %>
<%= @order.delivery_contact_name %>
<%= @order.delivery_contact_phone_number %>

<p>RSVP whether you guys can take this order by calling, texting or mailing to Ida at GigaFood.</p>
<p>Ida's mobil: 070-7009943</p>
<p>Ida's email: ida@example.com</p>

<p>Thanks!</p>